li::marker {
  color: #565656 !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.text-block {
  text-align: justify;
  line-height: 3rem;
}

.text-justify {
  text-align: justify;
}

.scrollable-testimonials {
  max-height: 100vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  background: #388e3c;
}

::-webkit-scrollbar-thumb:hover {
  background: #660031;
}

@media screen and (max-width: 768px) {
  /* .text-justify {
    text-align: start;
  } */

  .text-block {
    text-align: start;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
