$theme-colors: (
  "primary": #007bff,
  // 007BFF
  "secondary": #e5e5e5,
  // 6C757D
  "success": #388e3c,
  // 28A745
  "danger": #dc3545,
  // DC3545
  "warning": #81c784,
  // FFC107
  "info": #17a2b8,
  //17A2B8
  "light": #f8f9fa,
  //F8F9FA
  "dark": #343a40,
  // 343A40
  "white": #ffffff,
  // ffffff
  "black": #615252,
  // 000000
);

.text-justify {
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .text-justify {
    text-align: left;
  }
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
